<tr>
    <form class="route-definition" action="/config/route/{ID}" method="post">
    <td><input type="text" name="name" value="{NAME}"></td>
    <td><input type="text" name="path" value="{PATH}"></td>
    <td><input type="text" name="controller" value="{CONTROLLER}"></td>
    <td><input type="text" name="action" value="{ACTION}"></td>
    </form>
</tr>
