<div class="skf-nav">
    <ul> <!-- TODO - Dynamise -->
        <li><a href="/config">Index</a></li>
        <li><a href="/config/routes">Routes</a></li>
    </ul>
</div>

<div class="skf-content">
    {CONTENT}
</div>
