<div class="route-page">
    <div class="nb-route">Defined routes: {NBROUTE}</div>
    <table><tbody>
        <tr class="border-bottom">
            <th>Name</th>
            <th>Path</th>
            <th>Controller</th>
            <th>Action</th>
        </tr>
        {ROUTES}
        <tr><td colspan="4"><button>Add route</button></td></tr>
    </tbody></table>
</div>
