* {
  box-sizing: border-box; }

/* ========================================================================== */
/* Skyfaring rules                                                            */
/* ========================================================================== */
/* ===================================================================== VARS */
/* COLORS */
/* RATIOS */
/* ==================================================================== RULES */
/* ========================================================================== */
/* General rules                                                              */
/* ========================================================================== */
body {
  overflow: hidden;
  background-color: #f5f5f5; }

.skf-material-box, .skf-info, .route-page, .route-page button {
  border: 1px solid #cacaca;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; }

/* ========================================================================== */
/* Header & nav                                                               */
/* ========================================================================== */
.skf-header {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .skf-header .path {
    font-size: 120%;
    font-weight: bold;
    line-height: 40px;
    display: inline;
    margin-left: 15px;
    vertical-align: middle;
    color: #cacaca; }
  .skf-header .breadcrumb {
    display: flex;
    width: 20%;
    height: 40px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #cbe86b;
    justify-content: center; }
    .skf-header .breadcrumb:hover {
      background-color: #3B8686;
      color: #fff;
      transition: .2s ease-in; }
    .skf-header .breadcrumb h1 {
      font-size: 120%;
      display: block;
      height: 40px;
      margin: 0;
      padding: 10px; }
    .skf-header .breadcrumb a {
      color: inherit;
      height: 40px;
      padding: 0;
      line-height: normal; }
  .skf-header a {
    font-weight: bold;
    line-height: 40px;
    display: inline-block;
    float: right;
    padding: 0 20px;
    text-decoration: none;
    color: #fff; }

.skf-nav {
  float: left;
  width: 20%;
  height: 100vh;
  overflow: hidden;
  background-color: #1c140d; }
  .skf-nav ul {
    color: #fff;
    font-weight: bold;
    padding: 0; }
  .skf-nav li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .skf-nav a {
    display: block;
    border: 1px dashed rgba(255, 255, 255, 0);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    color: inherit;
    text-decoration: none;
    margin: 15px;
    padding: 10px; }
    .skf-nav a:visited {
      color: inherit; }
    .skf-nav a:hover {
      border: 1px dashed rgba(255, 255, 255, 0.4); }

/* ========================================================================== */
/* Content                                                                    */
/* ========================================================================== */
.skf-content {
  float: right;
  position: relative;
  width: 80%;
  padding: 15px; }

.skf-info {
  padding: 15px; }
  .skf-info div {
    margin: 15px 0; }

.route-page {
  width: 100%; }
  .route-page .nb-route {
    font-weight: bold;
    padding: 15px;
    text-align: right;
    color: #fff;
    background-color: #1c140d; }
  .route-page table {
    font-size: 80%;
    display: block;
    padding: 15px;
    border-collapse: collapse;
    text-align: left; }
    .route-page table tbody {
      display: block;
      width: 100%; }
  .route-page th {
    line-height: 40px;
    text-align: left;
    vertical-align: middle;
    color: #1c140d; }
  .route-page td,
  .route-page th {
    width: 25%; }
    .route-page td.submit,
    .route-page th.submit {
      width: 10%; }
  .route-page tr {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between; }
    .route-page tr.border-bottom {
      margin-bottom: 15px;
      border-bottom: 1px solid #cacaca; }
    .route-page tr:nth-of-type(odd):not(:first-of-type) {
      background-color: #f2e9e1; }
    .route-page tr:last-of-type {
      background-color: #fff !important;
      margin-top: 15px; }
      .route-page tr:last-of-type td {
        height: 100%;
        margin: auto; }
  .route-page input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: inherit; }
    .route-page input:focus:not([type='checkbox'], [type='button']) {
      color: #fff;
      outline: none;
      background-color: #1c140d; }
    .route-page input[type='checkbox'] {
      width: 15px;
      height: 15px;
      margin-right: 15px; }
  .route-page button {
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: #f5f5f5; }
    .route-page button:hover {
      transition: .1s ease;
      background-color: #cbe86b; }
