*
{
    box-sizing: border-box;
}

/* ========================================================================== */
/* Skyfaring rules                                                            */
/* ========================================================================== */

/* ===================================================================== VARS */

/* COLORS */

$skf-white: #fff;
$skf-grey: #f5f5f5;
$skf-darkgrey: #cacaca;
$skf-green: #cbe86b;
$skf-pink: #f2e9e1;
$skf-black: #1c140d;

/* RATIOS */

$header-height: 40px;
$left-column: 20%;
$std-margin: 15px;

/* ==================================================================== RULES */


/* ========================================================================== */
/* General rules                                                              */
/* ========================================================================== */

body
{
    overflow: hidden; // TEMP
    background-color: $skf-grey;
}

.skf-material-box
{
    border: 1px solid $skf-darkgrey;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(.2, .2, .2, .1);
    background-color: $skf-white;
}

/* ========================================================================== */
/* Header & nav                                                               */
/* ========================================================================== */

.skf-header
{
    display: flex;

    width: 100%;
    height: $header-height;

    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: $skf-white;
    box-shadow: 0 0 10px rgba(.2, .2, .2, .1);

    .path
    {
        font-size: 120%;
        font-weight: bold;
        line-height: $header-height;

        display: inline;

        margin-left: $std-margin;

        vertical-align: middle;

        color: $skf-darkgrey;
    }

    .breadcrumb
    {
        display: flex;

        width: $left-column;
        height: $header-height;

        vertical-align: middle;

        border-bottom: 1px solid rgba(255, 255, 255, .2);
        background-color: $skf-green;

        justify-content: center;

        &:hover
        {
            background-color: #3B8686;
            color: $skf-white;
            transition: .2s ease-in;
        }

        h1
        {
            font-size: 120%;

            display: block;

            height: $header-height;
            margin: 0;
            padding: 10px;
        }

        a
        {
            color: inherit;
            height: $header-height;
            padding: 0;
            line-height: normal;
        }
    }

    a
    {
        font-weight: bold;
        line-height: $header-height;

        display: inline-block;
        float: right;

        padding: 0 20px;

        text-decoration: none;

        color: $skf-white;
    }
}

.skf-nav
{
    float: left;
    width: 20%;
    height: 100vh;
    overflow: hidden;

    background-color: $skf-black;

    ul
    {
        color: $skf-white;
        font-weight: bold;
        padding: 0;
    }

    li
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a
    {
        display: block;
        
        border: 1px dashed rgba(255, 255, 255, 0);
        border-bottom: 1px dashed rgba(255, 255, 255, .4);
        
        color: inherit;
        text-decoration: none;

        margin: 15px;
        padding: 10px;

        &:visited
        {
            color: inherit;
        }

        &:hover
        {
            border: 1px dashed rgba(255, 255, 255, .4);
        }
    }
}

/* ========================================================================== */
/* Content                                                                    */
/* ========================================================================== */

.skf-content
{
    float: right;
    position: relative;

    width: 100% - $left-column;
    padding: $std-margin;
}

.skf-info
{
    @extend .skf-material-box;
    padding: 15px;

    div
    {
        margin: 15px 0;
    }
}

.route-page
{
    width: 100%;

    @extend .skf-material-box;

    .nb-route
    {
        font-weight: bold;

        padding: $std-margin;

        text-align: right;

        color: $skf-white;
        background-color: $skf-black;
    }

    table
    {
        font-size: 80%;

        display: block;

        padding: $std-margin;

        border-collapse: collapse;

        text-align: left;

        tbody
        {
            display: block;

            width: 100%;
        }
    }

    th
    {
        line-height: 40px;

        text-align: left;
        vertical-align: middle;

        color: $skf-black;
    }

    td,
    th
    {
        width: 25%;

        &.submit
        {
            width: 10%;
        }
    }

    tr
    {
        display: flex;

        width: 100%;
        height: 40px;

        justify-content: space-between;

        &.border-bottom
        {
            margin-bottom: $std-margin;

            border-bottom: 1px solid $skf-darkgrey;
        }

        &:nth-of-type(odd):not(:first-of-type)
        {
            background-color: $skf-pink;
        }

        &:last-of-type
        {
            background-color: $skf-white !important;
            margin-top: $std-margin;

            td
            {
                height: 100%;
                margin: auto;
            }
        }
    }

    input
    {
        width: 100%;
        height: 100%;
        padding: 10px;

        border: none;
        border-radius: 3px;
        background-color: inherit;

        &:focus:not([type='checkbox'], [type='button'])
        {
            color: $skf-white;
            outline: none;
            background-color: $skf-black;
        }

        &[type='checkbox']
        {
            width: 15px;
            height: 15px;
            margin-right: $std-margin;
        }
    }

    button
    {
        font-weight: bold;

        width: 100%;
        height: 100%;

        cursor: pointer;

        border: none;
        background-color: $skf-grey;

        @extend .skf-material-box;

        &:hover
        {
            transition: .1s ease;

            background-color: $skf-green;
        }
    }
}
