<div style="position: absolute; background-color: #cbe86b; width: 100vw; height: 100vh; color: #1c140d;">
    <div style="position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); font-family: 'Josefin Slab', serif; text-align: center;">
        <h1 style="font-size: 400%; color: white; line-height: 400px; background-color: #1c140d; width:400px; height:400px; border-radius: 50%; position: relative; left: 50%; transform: translateX(-50%);">It works !</h1>
        <h2>Hello {YOU}, seems like you got Skyfaring to work !</h2>
        <div><i><a style="text-decoration: none; color: #1c140d; border-bottom: 1px dashed rgba(0, 0, 0, .8); padding: 5px;" href="{CONFIG}">Head to the configuration panel</a></i></div>
    </div>
</div>
